/* resser css*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*
 1.Từ ngoài vào trong
2.Từ trên xuống dưới 
3.Từ tổng quan đến chi tiết
*/

/* 
1.Vị trí
2.Kích thước(width,height)
3.Màu sắc
4.Kiểu dáng(Kiểu chữ, hình tròn vuông,...)
 */

#main {

}
.clear{
    clear: both;
}
.text-white {
    color: #fff !important;
}

.text-center {
    text-align: center !important;
}

.pull-right {
    float: right !important;
}

/* Main */

.row {
    margin-left: -8px;
    margin-right: -8px;

}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.mt-8{
    margin-top: 8px !important;
}

.mt-16{
    margin-top: 16px !important;
}

.col-full {
    width: 100%;
}

.col-third {
    width: 33.3333%;
}

.col-half {
    width: 50%;
}

.btn {
    font-size: 15px;
    border: none;
    background-color: #000;
    color: #fff;
    padding: 12px 22px;
    display: inline-block;
    margin-top: 16px
}

.btn:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

#header {
    position: fixed ;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: #000;
    z-index: 1;
}

#nav{
    display: inline-block;
}

#nav li {
    display: inline-block;
    position: relative;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a{
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
    
}

#nav > li:hover > a {
    cursor: pointer;
    color: #000;
    background-color: #ccc;
}

#nav > li:hover .subnav{
    display: block;
}

#nav .subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

}

#nav .subnav a {
    color: #000;
    padding:  0 16px;
    line-height: 38px;
    min-width: 160px;
}

#nav .subnav li:hover {
    color: #000;
    background-color: #ccc;
    display: block;
}

#nav .nav-arrow-down {
    font-size: 14px;
}

#header .mobile-menu-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#header .mobile-menu-btn,
#header .search-button {
    float: right;
    color: #fff;
    line-height: 46px;
    font-size: 14px;
    padding: 0 24px;
}

#header .search-button:hover {
    cursor: pointer;
    background-color: #f44336;
}

#header .mobile-menu-btn:hover {
    background-color: #ccc;
    color: #000;
}


#slider {
    margin-top: 46px;
    padding-top: 50%;
    background: url(../img/slider/slider1.jpg) top center / cover no-repeat;
    position: relative;
}

#slider .text-content {
    color: #fff;
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    margin-bottom: 48px;
}

#slider .text-heading {
    font-weight: 500;
    margin-bottom: 25px;
    font-size: 24px;
}

#slider .text-description {
    font-weight: 550;
    font-size: 15px;
}

#content {

}

#content .content-section{
    width: 768px;
    padding: 64px 0px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    padding-left: 16px;
    padding-right: 16px;
}

#content .section-heading{
    text-align: center;
    font-size: 30px;
    margin: 10px 0px;
    font-weight: 500;
    letter-spacing: 4px;
}

#content .section-sub-heading{
    text-align: center;
    margin-top: 25px;
    font-size: 15px;
    font-style: italic;
    opacity: 0.7;
    line-height: 1.5;
    
}

#content .about-text{
    margin-top: 25px;
    margin-bottom: 32px;
    font-size: 15px;
    line-height: 1.4;
    text-align: justify;
}


#content .member-name {
    font-size: 15px;
}

#content .member-img {
    margin: 15px;
    width: 154px;
    border-radius: 4px;
    margin-bottom: 32px;
}

/* tour-section */
.tour-section {
    background-color: #000;
}

.tour-ticket li {
    list-style: none;
    font-size: 15px;
    line-height: 16px;
}

.tour-ticket {
    background-color: #fff;
    margin-top: 40px;
} 

.tour-ticket li {
    color: #757575;
    font-size: 15px;
    padding: 12px 16px;
    border-bottom: 1px solid #ddd ;
}

.tour-ticket .sold {
    background-color: #f44336;
    color: #fff;
    padding: 3px 8px;
    margin-left: 16px;
}

.tour-ticket .slot {
    float: right;
    background-color: #000;
    color: #fff;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    text-align: center;
    margin-right: 16px;
    line-height: 24px;
    margin-top: -3px;
}

.place-list {
    margin-top: 32px;
    margin-bottom: 48px;
}


.place-body {
    background-color: #fff;
    font-size: 15px;
    padding: 16px;
}

.place-name {
    font-size: 15px;
    font-weight: 550;

}

.place-time {
    color: #757575;
    margin-top: 16px;

}

.place-content {
    margin-top: 16px;

}

.place-list .place-img {
    width: 245px;
    height: auto;
    display: block;
}

.place-list .place-img:hover {
    opacity: 0.6;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;
}

.modal.open {
    display: flex;
}

.modal-container {
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 40px);
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease 0.5s;

}

header.modal-header {
    background-color: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}

.modal-heading-icon {
    margin-right: 16px;
}

.modal-body {
    padding: 16px;
}

.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px;
    color: #fff;
    cursor: pointer;
    opacity: 0.8;
}

.modal-close:hover {
    opacity: 1;
}

.modal-lable {
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}

.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 24px;
}

#buy-tickets {
    background-color: #009688;
    padding: 16px;
    width: 100%;
    cursor: pointer;
    text-transform: uppercase;
    border: none;
}

#buy-tickets:hover {
    background-color: #ccc;
    color: #000;
}

.modal-help {
    float: right;
    margin-bottom: 20px;
    margin-right: 20px;
}

#help {
    color: #2196F3;
}

@keyframes modalFadeIn {
    from {
        opacity: 0.2;
        transform: translateY(-200px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.body-secticon {
    padding: 32px 0px;
}

.section-map {
    font-size: 18px;
    line-height: 1.5;
}

.icon-section{
    width: 40px;;

}

.section-map a {
    color: #00e;
    opacity: 0.8;
}

.section-map a:hover {
    opacity: 1;
}

.section-name {
    font-size: 15px;
    
}


.contact-form{
    font-size: 15px;

}

.form-coltrol {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}
 /* Map section */

.map-section img {
    width: 100%;
}

#footer {
    padding: 64px 16px;
    text-align: center;
}

.socials-list a {
    font-size: 24px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}

#footer .copyright a:hover,
.socials-list a:hover {
    color: rgba(0, 0, 0, 0.4);

}

#footer .copyright {
    margin: 15px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.6);

}

#footer .copyright a {
    color: rgba(0, 0, 0, 0.6);

}

